/* maroon -- #5F3431;
   dark pink -- #C5958D;
   light pink -- #DDCAC0;
   green -- #757E70;
*/

.content1 {
  display: grid;
  grid-template-columns: 4fr 6fr;
  margin-top: 32px;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content1TextContainer {
  width: 80%;
}

.content1Title {
  font-family: var(--font-header);
  font-size: 40px;
}

.content1Button {
  background-color: var(--color-1);
  color: white;
  padding: 16px;
  width: fit-content;
  cursor: pointer;
}

.content2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 32px;
  margin-top: 48px;
}

.content2Title {
  font-family: var(--font-header);
  font-size: 40px;
}

.content2Button {
  background-color: var(--color-1);
  color: white;
  padding: 16px;
  width: fit-content;
  cursor: pointer;
  margin: auto;
  margin-top: 16px;
}

.content3 {
  padding: 32px;
}

.content3Title {
  font-family: var(--font-header);
  font-size: 40px;
}

.content3Images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.content3Text {
  margin-top: 8px;
}

.content3Link:hover .content3Text {
  text-decoration: underline;
}

.content3Link:hover .content3Image {
  transform: scale(1.01);
  transition: transform 0.2s;
}

.content4 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 8px;
  padding: 32px;
  margin-top: 32px;
}

.content4Text {
  background-color: var(--color-1);
  color: white;
  flex-direction: column;
  padding: 32px;
}

.content4Title {
  font-family: var(--font-header);
  font-size: 40px;
}

.content4Subtitle {
  font-family: var(--font-header);
  font-style: italic;
  font-size: 24px;
}

.content4Button {
  background-color: white;
  color: var(--color-1);
  padding: 16px;
  width: fit-content;
  cursor: pointer;
}

.content5 {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 8px;
  padding: 32px;
  margin: auto;
  margin-top: 32px;
  width: 80%;
}

.content5Text {
  flex-direction: column;
}

.content5Title {
  font-family: var(--font-header);
  font-size: 40px;
  width: 100%;
}

.content5Button {
  background-color: var(--color-1);
  color: white;
  padding: 16px;
  width: fit-content;
  cursor: pointer;
}

.content6 {
  padding: 32px;
}

.content6Title {
  font-family: var(--font-header);
  font-size: 40px;
  width: 100%;
  text-align: center;
}

.content6Subtitle {
  width: 100%;
  text-align: center;
}

.content6Grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 70%;
  margin: auto;
}

.content6Text {
  padding: 32px;
}

.content6Title2 {
  font-family: var(--font-header);
  font-size: 40px;
}

.content6Button {
  background-color: var(--color-1);
  color: white;
  padding: 16px;
  width: fit-content;
  cursor: pointer;
}
