/* maroon -- #;
   dark pink -- #C5958D;
   light pink -- #DDCAC0;
   green -- #757E70;
*/

.services-container {
  padding: 40px;
  height: auto;
}

.services-header {
  padding: 20px 10%;
  font-family: var(--font-header);
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.services-body {
  padding: 10px 10%;
  font-family: var(--font-body);
  font-size: 18px;
  text-align: left;
  /* background-color: orange; */
}

.services-content {
  padding: 10px 10%;
  font-family: var(--font-body);
  font-size: 16px;
  text-align: left;
  color: #c5958d;
  /* background-color: green; */
}

.types-of-service-container {
  width: 100%;
}

.service-row-1 {
  padding: 50px 10% 0px;
  display: flex;
  flex-direction: row;
  /* background-color: red; */
}

.service-row-2 {
  padding: 50px 10% 0px;
  display: flex;
  flex-direction: row;
  /* background-color: blue; */
}

.service-card {
  width: 50%;
  text-align: center;
}

.service-card-image {
  width: 80%;
  height: 300px;
  object-fit: cover;
  object-position: 0% 40%;
}

.types-of-service-header {
  padding: 20px 10%;
  font-family: var(--font-header);
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.types-of-service-btn {
  padding: 5px 20px;
  font-family: var(--font-heading);
  font-size: 16px;
  color: #ffffff;
  background-color: #c5958d;
}
